<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteNewTours</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="826d77">  <td>20/07/03 11:59:34</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;NewToursTest.afterTest()[pri:0, instance:com.newtours.testscripts.NewToursTest@4278a03f]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@479397964</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>20/07/03 11:58:50</td>   <td>-44328</td> <td>&nbsp;</td><td title="&gt;&gt;NewToursTest.beforeTest()[pri:0, instance:com.newtours.testscripts.NewToursTest@4278a03f]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@479397964</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>20/07/03 11:59:23</td>   <td>-10678</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewToursTest.bookFlight()[pri:2, instance:com.newtours.testscripts.NewToursTest@4278a03f]">bookFlight</td> 
  <td>main@479397964</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>20/07/03 11:59:33</td>   <td>-1114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewToursTest.confirmMessageCheck()[pri:3, instance:com.newtours.testscripts.NewToursTest@4278a03f]">confirmMessageCheck</td> 
  <td>main@479397964</td>   <td></td> </tr>
<tr bgcolor="826d77">  <td>20/07/03 11:59:11</td>   <td>-22579</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="NewToursTest.login()[pri:1, instance:com.newtours.testscripts.NewToursTest@4278a03f]">login</td> 
  <td>main@479397964</td>   <td></td> </tr>
</table>
